#
# Helm Chart Repositories
#
#To use official "stable" charts a.k.a https://github.com/helm/charts/tree/master/stable
repositories:
- name: stable
  url: https://kubernetes-charts.storage.googleapis.com
- name: watson
  url: cm://h.cfcr.io/softteco/default

arguments:
  STATE_VALUES_SET: HELM_REPO_ACCESS_TOKEN=$CF_API_KEY

#
# Kubernetes
#

helmDefaults:
  kubeContext: {{ env "KUBE_CONTEXT" | default "anatolii-testing@codefresh-support" | squote }}

#
# Helm Releases
#
releases:
  # Postgres
  - name: '{{ env "RELEASE_NAME" }}-pg'
    labels:
      chart: "postgresql"
      component: "database"
    chart: "stable/postgresql"
    version: "0.11.0"
    namespace: '{{ env "NAMESPACE" }}'
    set:
      - name: "image"
        value: "cloudposse/postgres"
      - name: "imageTag"
        value: '{{ coalesce (env "POSTGRES_IMAGE_TAG") "0.2.1" }}'
      - name: "imagePullSecrets"
        value: '{{ env "RELEASE_NAME" }}-pull-secret-dockercfg'
      - name: "postgresDatabase"
        value: '{{ env "POSTGRES_DB" }}'
      - name: "postgresUser"
        value: '{{ env "POSTGRES_USER" }}'
      - name: "postgresPassword"
        value: '{{ env "POSTGRES_PASSWORD" }}'
